#Ignore write up
write_up/

#Ignore all cache
__pycache__/

#Ignore jupyter notebooks
*.ipynb

#Ignore large datafiles
data/*
!data/README.md
*.pth

#Ignore DS_Store
.DS_Store

# Ignore saved losses
*.csv

# Ignore documentation build
docs/build/

# Ignore report for github
report/